<% layout("/layouts/boilerplate") -%>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h4 class="card-title mb-3">
            <br>
            <%= list.title %>
                    </h4>
            <br>
            <div class="card shadow show-card">

                <img
                    src="<%= list.image %>"
                    class="card-img-top show-img"
                    alt="Listing Image">

                <div class="card-body">

                    <p class="card-text mt-3">
                        <strong>Description:</strong><br>
                        <%= list.description %>
                    </p>

                    <hr>

                    <p><strong>Price:</strong> ₹ <%= list.price.toLocaleString("en-IN") %></p>

                    <p><strong>Location:</strong> <%= list.location %></p>

                    <p><strong>Country:</strong> <%= list.country %></p>

                </div>

            </div>

            <div class="mt-4 d-flex gap-3">

                <a
                    href="/listing/<%= list._id %>/edit"
                    class="btn btn-dark">
                    Edit
                </a>

                <form
                    method="POST"
                    action="/listing/<%= list._id %>?_method=DELETE">

                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
            <br><br>
        </div>
        <div class="col-8 offset-3">
            <hr>
            <h4> Leave a Review</h4>
            <form action="/listing/<%= list._id %>/review" method="POST">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-control" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment"class="form-label">Comments</label>
                    <textarea name="review[comment]" class="form-control" id="comment" col="30" rows="5"></textarea>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    </div>
</body>