<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h2> Edit Your Chat :</h2>
    <p><b>Id: </b><%=bit._id%></p>
    <p><b>From: </b><%=bit.from%></p>
    <p><b>To: </b><%=bit.to%></p>
    <form method="POST"action ="/chats/<%=bit._id%>?_method=PUT">
        <textarea name="msg" rows="10" cols="15"><%=bit.msg%></textarea><br><br>
        <button>Done</button>
    </form>
</body>
</html>